@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Poppins');

//typography
$headline: 'Poppins';
$body: 'Noto Sans';

//breakpoints
$mobile-breakpoint: 600px;

//colors
$blue-dream: #0072F0;
$green-crack: #1CE0AD;
$la-confidential: #0022AC;
$nyc-diesel: #01BBB4;
$white-widow: #FFFFFF;
$grandaddy-purp: #1B1443;
