@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Poppins');

//typography
$headline: 'Poppins'
$body: 'Noto Sans'

//breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 1060px;

//colors
$blue-dream: #0072F0;
$green-crack: #1CE0AD;
$la-confidential: #0022AC;
$nyc-diesel: #01BBB4;
$white-widow: #FFFFFF;
$grandaddy-purp: #1B1443;
//black substitute



// Headline font: Poppins
// Body Text Font: Noto Sans
// Fonts are available on https://fonts.google.com/
//
// Headline (Desktop) 48/56 Poppins
// Body Copy (Desktop) 18/24 Noto Sans
// Headline (Mobile) 32/36 Poppins
// Body Copy (Mobile) 16/24 Noto Sans
