@import './variables';

.AddressDetails {
  margin-top: 40px;
  margin-bottom: 40px;

  .address {
    margin-left: 20px;

  }

  label {
    display: block;
  }



  .persons {

    .from {
      display: inline;
    }

    .to {
      display: inline;
    }

  }

  .dates {

  }



  @media only screen and (max-width: $mobile-breakpoint) {
    input {
      width: 200px;
    }
  }


}
