@import './variables';

.AddressDetails {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 18px;

  label {
    display: block;
  }

  .invoice-num {
    width: 100%;
  }

  .persons {
    width: 100%;
    display: block;
    margin-top: 10px;

    .from {
      float:left;
      display: inline;
      width: 48%;

      input {
        width: 100%
      }
    }

    .to {
      display: inline;
      width: 48%;
      float: right;

      input {
        width: 100%
      }

    }

  }

  .dates {
    width: 100%;
    display: block;
    margin-top: 10px;

    .sent {
      float: left;
      display: inline;
      width: 48%;
      margin-top:10px;
      input {
        width: 100%
      }
    }

    .due {
      margin-top: 10px;
      display: inline;
      float: right;
      width: 48%;
      input {
        width: 100%;
      }
    }

  }

}
