@import './variables';

.AddressDetails {
  margin-top: 40px;
  margin-bottom: 40px;


  label {
    display: block;
  }

  .invoice-num {
    width: 100%;
  }

  .persons {

    width: 100%;
    display: block;


    .from {
      float:left;
      display: inline;
      width: 48%;

      input {width: 100%}

    }

    .to {
      display: inline;
      width: 48%;
      float: right;

      input {width: 100%}


    }

  }

  .dates {
    display: block;

    .sent {
      float: left;
      display: inline;
      width: 48%;
      input {
        width: 100%
      }
    }

    .due {
      display: inline;
      float: right;
      width: 48%;
      input {
        width: 100%;
      }
    }

  }



  @media only screen and (max-width: $mobile-breakpoint) {



  }


}
