@import './variables';

.App {

  width: 80%;
  margin: auto;
  background-color: white;
  color: $grandaddy-purp;

  .download-as-pdf {

    cursor: pointer;
    background-color: $blue-dream;
    color: $white-widow;
    transition: background-color 0.5s ease;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    margin-top: 20px;
    display: block;

    &:hover,:active {
      background-color: $la-confidential;
    }

  }


  .preview-header {
    margin-top: 40px;
    display: block;
  }

  input {
    height: 40px;
  }
}
