@import './variables';

.LineItemTable {
  margin-top: 40px;

  .invisible {
    visibility: hidden
  }


  @media only screen and (max-width: $mobile-breakpoint) {

    table {
      width: 100%;
    }

    th {
      display: none;
    }

  }

  .add-item-button {

    cursor: pointer;
    height: 40px;
    width: 100px;
    font-size: 18px;
    color: $white-widow;
    background-color: $green-crack;
    transition: background-color 0.5s ease;
    border-radius: 5px;

    &:hover, :active {
      background-color: $nyc-diesel;
    }

    @media only screen and (max-width: $mobile-breakpoint) {
      margin-top: 40px;
      width: 80px;
    }


  }

  tr {
    width: 100%;
  }

}
