.Total {
  margin-top: 40px;

  input {
    display: block;
    width: 100%;
  }

  .subtotal {
    margin-bottom: 10px;
  }

  .taxRate {
    margin-bottom: 10px;
  }

  .taxes {
    margin-bottom: 10px;
  }

  .discounts {
    margin-bottom: 10px;
  }

}
